<div class="container">
  <table class="table shadow p-3 mb-5 bg-white rounded">
    <thead class="thead-dark">
      <tr class="table-row align-middle">
        <th scope="col">Nome</th>
        <th scope="col">Data de nascimento</th>
        <th scope="col">E-mail</th>
        <th scope="col">Celular para contato</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts" class="text-center align-middle">
        <td>{{ contact.name }}</td>
        <td>{{ contact.birth_date }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.cell_phone }}</td>
        <td>
          <button (click)="editContact(contact.id)" type="button" class="btn"><img img src="../../../assets/editar.png" alt="Logo" width="20" height="20" class="align-text-center "></button>
          <button (click)="deleteContact(contact)" type="button" class="btn"><img img src="../../../assets/excluir.png" alt="Logo" width="25" height="25" class="align-text-center "></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

