<form id="form">
  <div class="container">
    <div class="container-fluid pt-5">
      <div class="input-box pb-5">
        <app-input
          name="Nome completo"
          placeholder="Ex.: Letícia Pacheco dos Santos"
        />
      </div>
      <div class="input-box pb-5">
        <app-input
          name="Data de nascimento"
          placeholder="Ex.: 03/10/2003"
        />
      </div>
      <div class="input-box pb-5">
        <app-input
          name="E-mail"
          placeholder="Ex.: leticia@gmail.com"
        />
      </div>
      <div class="input-box pb-5">
        <app-input
          name="Profissão"
          placeholder="Ex.: Desenvolvedora Web"
        />
      </div>
      <div class="input-box pb-5">
        <app-input
          name="Telefone para contato"
          placeholder="Ex.: (11) 4033-2019"
        />
      </div>
      <div class="input-box pb-5">
        <app-input
          name="Celular para contato"
          placeholder="Ex.: (11) 98493-2039"
        />
      </div>
      <div class="checkbox-box">
        <app-checkbox information="Número de celular possui Whatsapp"></app-checkbox>
        <app-checkbox information="Enviar notificação por SMS"></app-checkbox>
      </div>
      <div class="checkbox-box">
        <app-checkbox information="Enviar notificação por E-mail"></app-checkbox>
      </div>
      <div class="input-box w-100 pb-5 d-flex justify-content-end">
        <app-button></app-button>
      </div>
    </div>
  </div>
</form>
