<footer class="navbar">
  <div class="container">
    <div class="container-fluid pt-3 pb-3">
      <a class="footer-info" href="#">
        Termos | Políticas
      </a>
      <a class="footer-info" href="#">
        © Copyright 2022 | Desenvolvido por
        <img src="../../../assets/logo_rodape_alphacode.png" alt="Logo" width="120" height="30" class="align-text-center ">
      </a>
      <a class="footer-info" href="#">
        © Alphacode IT Solutions 2022
      </a>
    </div>
  </div>
</footer>
